/* Nav */


.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.navbar-light{
    background-color: #272727;
}
#selling{
    font-size: 1.5rem;
    padding: 0 12px;
}
#searchbar{
    margin-right: 2px;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #121212;
    max-height: 32px;
    border-radius: 0px;
    border : solid #424242 0px;
    color: white;
}
#search-button{
    background-color: #383838;
    padding-top: 4px;
    padding-bottom: 7px;
}
#searchform{
    display: flex;
    height: 33px;
    margin-top: auto;
    margin-bottom: auto;
}
#form-div{
    border : solid #424242 1px;
    background-color: #424242;
}
.nav-link, .nav-item, #navbar-right-side{
    height: 35px;
}
#nav{
    padding-bottom: 8px;
    padding-top: 8px;
    min-width: 1080px;
}
#navbar-right-side{
    min-width: 405px;
}
#collapsingNavbar3{
    min-width: 1080px;
}
#signup, #login, #logout{
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    height: 35px;
}
#logout{
    margin-right: 12px;
}
#shoppingcart{
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    min-width: 85px;
    background-color: #121212;
}
.fa-shopping-cart{
    margin-left: 3px;
    margin-right: 15px;
}
a, .btn{
    color: #9c9c9c;
}
.btn:hover, a:hover{
    color: white;
}
.dropdown-toggle{
    margin-left: 3px;
    padding-top: 4px;
    padding-bottom: 7px;
    cursor: pointer;
}
.navbar-toggler{
    position: absolute;
    left: 100px;
}
#settings{
    cursor: pointer;
}
#notification-div{
    width: 480px;
    max-height: 300px; 
	padding-top: 0px;
}
#notification-title{
    background-color: #4c4c4c;
	margin-left: 0px;
	margin-bottom: 0px;
}
#notify-title{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 16px;
    margin-bottom: 0px;
    font-size:16px;
}
#notification{
    display: -webkit-flex;
}
#notify-pic{
	height: 48px;
    width: 48px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
#anchor-notification{
    padding:0px;
}
#notification-there{
    overflow: auto;
    max-height: 300px;
}
#para-notification{
    cursor: default;
}
.dropdown-item{
    white-space: unset;
}
#profile-pill-div{
    width: 220px;
}
.dropdown-item:hover, .nav-pills:hover, .show>.nav-link{
    background-color: #3a3a3a !important;
}
.seen{
    background-color: #3a3a3a;
}
.seen:hover{
    background-color: #5e5e5e !important;
}
.notification {
    position: relative;
    display: inline-block;
  }
.badge {
    position: absolute;
    cursor: pointer;
    font-size: 70%;
    top: -5px;
    right: 28px;
    padding: 4px;
    border-radius: 222px;
    background-color: rgb(170, 46, 46);
  }


/* Body */


body{
    background-color: #121212;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/31bfb53f-6d2a-4e43-bd67-7b88552a46b8/dd85z3w-d2458a67-5ee0-446f-8b89-ebdda3705e8d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMxYmZiNTNmLTZkMmEtNGU0My1iZDY3LTdiODg1NTJhNDZiOFwvZGQ4NXozdy1kMjQ1OGE2Ny01ZWUwLTQ0NmYtOGI4OS1lYmRkYTM3MDVlOGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Ww8NCHZkctPuPXGKtTDEQmu3Bs-EeyIPpbAuiJQeNxc");
    background-repeat: repeat;
    background-attachment: local;
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
}
.body-content{
    margin: auto;
}
.container{
    width:80%;
    max-width:100%;
    margin: auto;
    padding: 0px !important;
}
#base{
    min-height: 900px;
    margin-top: 70px;
}
hr {
    color: #aaaaaa;
}
ul{
    padding-left: 0;
}
.btn-default{
    background-color: #d6d6d6;
    color: #272b34;
    border: 0px;
}
.btn-primary{
    background-color: #63666f;
    border: 0px;
    color: white;
}
.btn-primary:hover{
    background-color: #414349;

}


/* Scroll bar */


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/* Sales Index */


#sales{
    margin-top: 70px;
    margin-bottom: 3%;
}
#AllCards{
    display: block;
    max-width: 1350px;
}
#CardGrid{
    flex: auto;
    margin: 12px;
    background-color: #1a1a1a;
}
#CardGrid:hover{
    background-color: #424242;
}
#Card{
    min-width: 217px;
    max-width: 217px;
    margin: 13px auto 0;
}
#seller, #watchcount{
    color: #aaaaaa;
}
#CardName:hover, .lozad:hover{
    cursor: pointer;
}

/* Modal */

.modal-dialog {
    max-width: 718px;
    padding-top: 9%;
	margin:auto;
}
.modal-content {
    background-color: #272727;
}
#modalDetails{
    padding-left:20px;
    margin-left: auto;
    margin-right: auto;
}
#modal-header1{
	text-align:center;
	margin: auto;
	width:90%;
}
.modal-sm{
    max-width: 350px;
}

/* Profile */


#seeall, #addlisting{
    color:#3ea6ff;
    max-height: 20px;
    position: absolute;
    right: 50px;
}
#seeall{
    margin-top: 40px;
}
#addlisting{
    margin-top: 15px;
}
#seeall-div{
    position: relative;
    display: flex;
    padding-left: 20px;
    padding-right: 30px;
}
#ProfileUsername{
    margin-top: 2em;
}
#ProfileUsername1{
    cursor: pointer;
    color: #9c9c9c;
}
#ProfileUsername1:hover{
    cursor: pointer;
    color: white;
}



/* Premium */


#PremiumDiv
{
    background-color: #272727;
    margin-top: 10%;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#PremiumHeading, #PremiumResult{
    font-size: 14px;
    Margin: 25px;
}
.PremiumButton{
    font-size: 15px;
    Margin: 25px;
}
#PremiumTitle{
    Margin: 25px;
    Margin-bottom: 30px;
}
#PremiumDetails{
    padding-bottom: 8px;
}


/* Footer */


.footer{
    margin-top: 75px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #1c1c1c
}
.footer-container{
    padding-top: 45px;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #141414;
    padding-bottom: 45px;
}
li{
    list-style-type: none;
    margin-bottom: 4px;
}
#footer-ul{
    text-align: center;
}


/* Collection */


#Collection1{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom: 8%;
}
#CollectionDropBox{
    margin-right: auto;
    margin-left: auto;
    width: 78%;
}


/* Loader */


#loader-wrapper{
    position: fixed; 
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 200000000;
}
#loader{
    width: 171px;
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
}


/* Remove listing */


#remove-details{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
#removeimage{
    width: 215px;
    height: 313px;
}
#remove-div{
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}


/* Purchase card */


#purchase-div{
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
#SideMarginAuto{
    width: 80%;
    margin-left: 18%;
}
.stripe-button-el{
    margin-left: 18%;
}


/* Create sale */

#create-title{
    margin-bottom: 20%;
    margin-top: 12%;
}
#create-container{
    max-width: 554px;
    width: 554px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 18%;
    font-size: 1.3em;
}
#dropbox{
    width: 83%;
}
#dropbox2{
    width: 99%;
}
.col-md-2{
    padding-left: 15px;
    padding-right: 0px;
}
#card-search{
    width: 100%;
}
#pricetb{
    width: 99%;
    color: black;
    background-color: white;
}
#submit-btn{
    width: 20%;
    text-align: center;
    margin: auto;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    padding-left: 15px;
    font-size: 70%;
    color: #E74C3C;
}


/* Why us */


#WhyUs-div{
    max-width: 820px;
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
}

.notreviewed{
    height: 435px;
    border: #121212 1px solid;
    background-color: #121212;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    
    transition-timing-function: ease-in;
}


/* Won */


.notreviewed:hover{
    background-color: #202020;
    border: #272727 1px solid;
}


/* Home Page */





/*Reviews*/


.commentBox {
    /*background-color: #efefef;*/
    padding: 10px;
    border-radius: 10px;
    min-width: 500px;
    height: 60px;
}

.starFade {
    background-image: url('/Properties/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/Properties/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}

.starGlow {
    background-image: url('/Properties/StarGlow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('~/Properties/StarGlow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}
