body{
    background-color: #121212;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/31bfb53f-6d2a-4e43-bd67-7b88552a46b8/dd7r8ij-66f32d14-ebd8-4a67-9953-cb4eeef83fc8.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMxYmZiNTNmLTZkMmEtNGU0My1iZDY3LTdiODg1NTJhNDZiOFwvZGQ3cjhpai02NmYzMmQxNC1lYmQ4LTRhNjctOTk1My1jYjRlZWVmODNmYzgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Mduc5cYnAS8YcHC0yrrb2hBgZCF3dK20DfOG75YueRc");
    background-repeat: repeat;
    background-attachment: local;
    background-size: contain;
}
.navbar-light{
    background-color: #272b34;
}
.btn-default{
    background-color: #343434;
    color: #898989;
    text-align: center;
    padding-top: 5px;
}
.form-control{
    margin-right: 3px;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.letsdothis{
    background-color: #121212;
    max-height: 32px;
    border-radius: 0px;
    border : solid #424242 0px;
}
#test{
    display: flex;
    margin: 0px;
}
#form-div{
    border : solid #424242 1px;
    background-color: #424242;
}
#image{
    padding-bottom: 2px;
}
.nav-link{
    padding-top: 7px;
}
#nav{
    padding-bottom: 7px;
    padding-top: 7px;
    min-width: 910px;
}
.form-control:focus { 
    background-color: #121212;
    color: white;
}
#signup{
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
}
#login{
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
}
#logout{
    padding: 5px;
    margin-left: 3px;
    margin-right: 12px;
}
#shoppingcart{
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    min-width: 85px;
    background-color: #121212;
}
#collapsingNavbar3{
    min-width: 930px;
}
.justify-content-end{
    width: 315px;
    min-width: 315px;
    max-height: 32px;
    display: flex;
}
a{
    color: white;
}
.fa-shopping-cart{
    margin-left: 3px;
    margin-right: 15px;
}
.btn:hover{
    color: #9c9c9c;
}
.navbar-toggler{
    position: absolute;
    left: 70px;
}
a:hover{
    color: white;
}
#AllCards{
    display: block;
    width: 1350px;
}
#Card{
    min-width: 217px;
    max-width: 217px;
    margin-right: 10px;
    margin:auto;
}
#CardName{
    max-height: 44px;
    margin: 0px;
    margin-bottom: 1px;
}
#seller{
    color: #aaaaaa;
}
#watchcount{
    color: #aaaaaa;
}
.body-content{
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.container{
    width:80%;
    max-width:100%;
    margin: auto;
    padding: 0px !important;
}
#AllCards{
    margin: auto;
}
#sales{
    margin-top: 3%;
    margin-bottom: 3%;
    min-width:200px;
}
#CardGrid{
    margin-right: auto;
    margin-left: auto;
    max-width: 230px;
    padding-left: 4px;
    padding-right: 4px;
}
#profile{
    margin-right: 8px;
}
#CardName:hover{
    cursor: pointer;
}
br {
    color: #aaaaaa;
}
.modal-dialog {
    max-width: 690px;
    padding-top: 9%;
	margin:auto;
}
.modal-content {
    background-color: #272b34;
}
#modalDetails{
    padding-left:20px;
    margin-left: auto;
    margin-right: auto;
}
#modal-header1{
	text-align:center;
	margin: auto;
	width:90%;
}
#seeall{
    color:#3ea6ff;
    margin: 20px;
    max-height: 20px;
}
#addlisting{
    color:#3ea6ff;
    margin: 20px;
    margin-left: 75%;
    max-height: 20px;
}
#ProfileUsername{
    margin-top: 4%;
    margin-bottom: 1%;
}
#PremiumDiv
{
    background-color: #272727;
    margin-top: 10%;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#PremiumHeading, #PremiumResult{
    font-size: 14px;
    Margin: 25px;
}
.PremiumButton{
    font-size: 15px;
    Margin: 25px;
}
#PremiumTitle{
    Margin: 25px;
    Margin-bottom: 30px;
}
#PremiumDetails{
    padding-bottom: 8px;
}
.btn-default{
    background-color: #d6d6d6;
    color: #272b34;
    border: 0px;
}
.btn-primary{
    background-color: #63666f;
    border: 0px;
    color: white;
}
.footer{
    margin-top: 75px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #272b34;
}
.footer-container{
    padding-top: 45px;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color:#131A22;
    padding-bottom: 45px;
}
hr{
    border-color: #d6d6d6;
}
li{
    list-style-type: none;
    margin-bottom: 4px;
}
ul{
    text-align: center;
}
#base{
    min-height: 1080px;
}
#Collection{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}
#Collection1{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom: 8%;
}
#CollectionDropBox{
    margin-right: auto;
    margin-left: auto;
    width: 78%;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    padding-left: 15px;
    font-size: 70%;
    color: #E74C3C;
}
#remove-details{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
#removeimage{
    width: 215px;
    height: 313px;
}
#remove-div{
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}
#purchase-div{
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
#SideMarginAuto{
    width: 80%;
    /* margin-right: 1%; */
    margin-left: 18%;
}
.stripe-button-el{
    margin-left: 18%;
}
