<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2B - @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/test.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-faded justify-content-center" id="nav">
        <div class="navbar-brand d-flex w-50 mr-auto">
            @if (Session["AccountLevel"] != null)
            {
                if (Session["AccountLevel"] != "2")
                {
                    <a href="/Sales/Index"><img src="~/Properties/2B5.png" id="image" width="41" height="24" /></a>
                }
                else
                {
                    <a href="/Sales/Index"><img src="~/Properties/2B4.png" id="image" width="41" height="24" /></a>
                }
            }
            else
            {
                <a href="/Sales/Index"><img src="~/Properties/2B4.png" id="image" width="41" height="24" /></a>
            }
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <div>
                        <a class="nav-link" href="/Sales/Create">Sell</a>
                    </div>
                </li>
                <li class="nav-item1">
                    <div id="form-div">
                        <form id="test" action="/Sales/Search/" method="post">
                            <input name="search" style="width:500px;" type="text" class="form-control letsdothis" placeholder="Search">
                            <button type="submit" class="btn btn-default letsdothis">Search</button>
                        </form>

                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                @if (Session["UserID"] == null)
                {
                    <li class="nav-item">
                        <div id="signup">
                            <a href="/Users/Register"><i class="fas fa-user"></i> Sign Up</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="login">
                            <a href="/Users/Login"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </div>
                    </li>
                }
                else if (Convert.ToInt32(Session["UserID"].ToString()) < Convert.ToInt32("1"))
                {
                    <li class="nav-item">
                        <div id="signup">
                            <a href="/Users/Register"><i class="fas fa-user"></i> Sign Up</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="login">
                            <a href="/Users/Login"><i class="fas fa-sign-in-alt"></i> Sign in</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <div id="logout">
                            <a href="/Users/LogOut"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="profile">
                            <img id="DisplayPicture" data-toggle="modal" data-target="#myModal" src="~/Properties/@Session["UserPic"]" width="33" height="33" />
                            <a href="/Users/Profile/@Session["UserID"]">

                                @Session["Username"]
                            </a>
                        </div>
                    </li>
                }
                <li class="nav-item">
                    <div id="shoppingcart">
                        <a href="/Profile/ShoppingCart">
                            <i class="fas fa-shopping-cart"></i>
                            @if (Session["ShoppingCart"] != null)
                            {
                                @Session["ShoppingCart"].ToString()
                            }
                            else
                            {
                                <a>0</a>
                            }
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="modal-header1">
                        <h4 style="text-align:center;" class="modal-title">Display Picture</h4>
                    </div>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("nav");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <ul>
                        <li><h4>Get to know us</h4></li>
                        <li><a href="/contact/contact">Contact us</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Why shop with 2B</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li><h4>Profile</h4></li>
                        <li><a href="">My Sales</a></li>
                        <li><a href="">My Watchlist</a></li>
                        <li><a href="">My Wishlist</a></li>
                        <li><a href="">My Collection</a></li>
                        <li><a href="">Items Won</a></li>
                        <li><a href="">Premium</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li><h4>Social Media</h4></li>
                        <li><a href=""><i class="fab fa-facebook-square"></i> Facebook</a></li>
                        <li><a href=""></a><i class="fab fa-twitter-square"></i> Twitter</li>
                        <li><a href=""><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fab fa-youtube"></i> Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-container">
        <span>&copy; 2B Enterprises. All Rights Reserved</span>
        <div>
            Designed by <a href="#">2B Enterprises</a>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
