<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2B - @ViewBag.Title</title>
    <link href="~/CSS/animation.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/test.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="~/Scripts/js-test.js"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <link rel="icon" href="~/Properties/2b.png">
</head>
<body style="position:relative">
    <div id="loader-wrapper">
        <input type="hidden" id="hdnSession" data-value="@Request.RequestContext.HttpContext.Session["UserID"]" />
        <div id="loader">
            <div class="pixels animated infinite flash slow"></div>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-lg bg-faded justify-content-center" id="nav">
        <div class="navbar-brand d-flex w-50 mr-auto">
            @if (Session["AccountLevel"] != null)
            {
                if (Session["AccountLevel"].ToString() != "2")
                {
                    <a onclick="loading()" href="/Home/"><img loading="auto" alt="2B Premium Logo" src="~/Properties/2bhome.png" id="image" width="135" height="24" /></a>
                }
                else
                {
                    <a onclick="loading()" href="/Home/"><img loading="auto" alt="2B Logo" src="~/Properties/2bhome2.png" id="image" width="135" height="24" /></a>
                }
            }
            else
            {
                <a onclick="loading()" href="/Home/"><img loading="auto" alt="2B Logo" src="~/Properties/2bhome2.png" id="image" width="135" height="24" /></a>
            }
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <div>
                        <a class="nav-link" id="selling" onclick="loading()" href="/Sales/Create">Sell</a>
                    </div>
                </li>
                <li class="nav-item1">
                    <div id="form-div">
                        <form id="searchform" action="/Sales/Search/" method="post">
                            <input name="search" style="width:500px;" type="text" class="form-control" id="searchbar" placeholder="Search">
                            <button onclick="loading()" type="submit" id="search-button" class="btn letsdothis">Search</button>
                        </form>
                    </div>
                </li>
            </ul>
            <ul id="navbar-right-side" class="nav navbar-nav ml-auto w-100 justify-content-end">
                @if (Session["UserID"] == null)
                {
                    <li class="nav-item">
                        <div id="signup">
                            <a onclick="loading()" href="/Users/Register"><i class="fas fa-user"></i> Sign Up</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="login">
                            <a onclick="loading()" href="/Users/Login"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </div>
                    </li>
                }
                else if (Convert.ToInt32(Session["UserID"].ToString()) < Convert.ToInt32("1"))
                {
                    <li class="nav-item">
                        <div id="signup">
                            <a onclick="loading()" href="/Users/Register"><i class="fas fa-user"></i> Sign Up</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="login">
                            <a onclick="loading()" href="/Users/Login"><i class="fas fa-sign-in-alt"></i> Sign in</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <div id="logout">
                            <a data-toggle="modal" data-target="#logoutModal" href="#"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                        </div>
                    </li>


                    <li class="nav-item">
                        <div>
                            <ul class="nav nav-pills">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle notification" onclick="checkNotifications()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i></a>
                                    <span class="badge"></span>
                                    <div id="notification-div" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; right: 0px; transform: translate3d(-442px, 43px, 0px);">
                                        <div id="notification-there">
                                            <div id="notification-title">
                                                <h2 id="notify-title">Notifications</h2>
                                            </div>
                                            <div id="notification-here">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div id="profile">
                            <img loading="auto" id="DisplayPicture" alt="Profile display icon" src="~/Properties/@Session["UserPic"]" width="33" height="33" />
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <ul class="nav nav-pills">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Session["Username"]</a>
                                    <div id="profile-pill-div" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 43px, 0px);">
                                        <a onclick="loading()" class="dropdown-item" href="/Users/Profile/@Session["UserID"]">Profile</a>
                                        <a onclick="loading()" class="dropdown-item" href="/Profile/Watchlist/@Session["UserID"]">Watchlist</a>
                                        <a onclick="loading()" class="dropdown-item" href="/Profile/Won">Won</a>
                                        <div class="dropdown-divider"></div>
                                        <a onclick="loading()" class="dropdown-item" href="/Sales/MyListings/@Session["UserID"]">My listings</a>
                                        <a onclick="loading()" class="dropdown-item" href="/Profile/Collection/@Session["UserID"]">My collection</a>
                                        <a onclick="loading()" class="dropdown-item" href="/Profile/Sold">Sold</a>
                                        <div class="dropdown-divider"></div>
                                        <a onclick="loading()" class="dropdown-item" href="/Users/Premium/">Premium</a>
                                        <a class="dropdown-item" id="settings">Settings</a>
                                        <a data-toggle="modal" data-target="#logoutModal" href="#" class="dropdown-item">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
                <li class="nav-item">
                    <div id="shoppingcart">
                        <a style="display:flex" onclick="loading()" href="/Profile/ShoppingCart">
                            <i class="fas fa-shopping-cart"></i><p style="margin:0" id="shoppingcount">0</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="logoutModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <l>Log Out</l>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to log-off? <br /></p>
                    <div class="actionsBtns">
                        <form action="/Users/LogOut/" method="post">
                            <button onclick="loading()" type="submit" id="search-button" class="btn btn-primary">Sign out</button>
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container body-content">
        @RenderBody()
    </div>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <ul id="footer-ul">
                        <li><h4>Get to know us</h4></li>
                        <li><a onclick="loading()" href="/contact/contact">Contact us</a></li>
                        <li><a onclick="loading()" href="/Home/FAQ">FAQ</a></li>
                        <li><a onclick="loading()" href="/Home/WhyUs">Why shop with 2B</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul id="footer-ul">
                        <li><h4>Profile</h4></li>
                        <li><a onclick="loading()" href="/Sales/MyListings/@Session["UserID"]">My Sales</a></li>
                        <li><a onclick="loading()" href="/Profile/Watchlist/@Session["UserID"]">My Watchlist</a></li>
                        <li><a onclick="loading()" href="/Profile/Wishlist/@Session["UserID"]">My Wishlist</a></li>
                        <li><a onclick="loading()" href="/Profile/Collection/@Session["UserID"]">My Collection</a></li>
                        <li><a onclick="loading()" href="/Profile/Won">Items Won</a></li>
                        <li><a onclick="loading()" href="/Users/Premium/">Premium</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul id="footer-ul">
                        <li><h4>Social Media</h4></li>
                        <li><a href="https://www.facebook.com/2BTradingOfficial/"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-reddit-square"></i> Reddit</a></li>
                        <li><a href="https://www.instagram.com/2btradingofficial/"><i class="fab fa-instagram"></i> Instagram</a></li>
                        @*<li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>*@
                        @*<li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-container">
        <span>&copy; 2B Enterprises. All Rights Reserved</span>
        <div>
            Designed by <a style="color:#2291d8;" href="#">2B Enterprises</a>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
