@model TeamTwoBe.ViewModels.SaleUserCardVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bidding</h2>
<div class="carousel">
    <input type="image" value=""/>
</div>



<div class="panel-primary">
    <input type="text" value="" />

</div>
<div class="form-actions no-color">
    <input type="submit" value="Bid" class="btn btn-default" /> 
</div>

