@model TeamTwoBe.Models.User

@{
    ViewBag.Title = "Locked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="base">
    <h2>Your account is currently Locked. Check your emails to find out why!</h2>
</div>

