<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2B - Login</title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId=338968053476558&autoLogAppEvents=1">
    </script>

    <script>
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

        window.fbAsyncInit = function () {
            FB.init({
                appId: '338968053476558',
                xfbml: true,
                version: 'v3.3'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

    </script>

    <div id="Main">
        <div id="Center">
            <div id="MainCenter">
                <div id="Login">
                    <div id="logo">
                        <h1 id="logoimage">2B</h1>
                    </div>
                    <div id="info">
                        @using (Html.BeginForm("Login", "Users"))
                        {
                            <div id="Username">
                                <input name="Username" placeholder="Username" id="inputinfo" />
                            </div>
                            <div id="Password">
                                <input name="Password" type="password" placeholder="Password" id="inputinfo" />
                            </div>
                            <div id="SaveInfo">
                                <label><input name="SaveData" type="checkbox" id="check" />Save login info</label>
                            </div>
                            <div id="ButtonDiv">
                                <button id="Button" type="submit" class="btn btn-secondary btn-block">
                                    <div>Log in</div>
                                </button>
                            </div>
                            <div id="or">
                                <div class="divide"><hr></div>
                                <div class="">OR</div>
                                <div class="divide"><hr></div>
                            </div>
                            <div id="hide2">
                                <Button id="hide" type="button">
                                    @*<i class="fab fa-facebook-square"></i>*@
                                    <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
                                </Button>
                            </div>
                            <div id="forgot">
                                <a href="">Forgot password?</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="signup">
            <div id="register">Don't have an account? <a href="/Users/Register/"><span id="link">Sign up</span></a></div>
        </div>
    </div>
</body>