@model TeamTwoBe.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Session["Username"]'s Profile</h2>

<ul>
    <li>My Current Sales</li>
    <li>My Reviews and Ratings</li>
    <li>My Watchlist</li>
    <li><a href="/profile/wishlistindex/@Session["UserID"]">My Wishlist</a></li>
    <li><a href="/users/edit/@Session["UserID"]">Edit Profile</a></li>
</ul>