@model TeamTwoBe.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Username's profile</h2>

<ul>
    @if (Model.ID.ToString() == Session["UserID"].ToString())
    {
        <li>My Current Sales</li>
        <li>My Reviews and Ratings</li>
        <li><a href="/profile/Watchlist/">My Watchlist</a></li>
        <li><a href="/profile/wishlist/@Session["UserID"]">My Wishlist</a></li>
        <li><a href="/users/edit/@Session["UserID"]">Edit Profile</a></li>
    }
    else
    {
        <li>Current Sales</li>
        <li>Reviews and Ratings</li>
        <li><a href="/profile/wishlist/@Model.ID">Wishlist</a></li>
    }
</ul>