

@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<div id="base">

    <div id="WhyUs-div">
        <h2 id="why-us-title">Frequently asked questions</h2>

        <div>
            <p>
                <br />
                <h5><b>How do I create an account?</b></h5>
                Click the Sign Up button at the top right corner and fill in your details!
                <br /><br />
                <h5><b>How do I create a sale?</b></h5>
                1. Click the 'Sell' button at the top right next to the Search bar and type a card name into the Card Name search box.<br /> <br />
                2. You can search for the card with any key words in your card's name. Once you have found the card you want, click on it, then click search. This will show a message telling you to
                select a card from the list, as one card can have different sets.
                <br /><br />
                3. Select the one that matches the card you want to sell by clicking the search box.
                <br /><br />
                4. Finally, once you have selected the exact card you want, there should be green tick symbol in the far right side of the search box. Now you set the price of your card,
                choose your card's condition, grade, or check if you want it to be auctioned instead. Then you may create the new sale to be put up on the index!
                <br />
                (Note: Premium Users Sales will have priority being displayed first on the sales index!)
                <br />
                <br />
                <h5><b>What do you get with premium membership?</b></h5>
                For just $11.99 per month, you can get UNLIMITED card verification (normally 10% of the card price each card), no ads, golden 2B Home default icons upgrades, and
                Priority in the sales index when uploading cards to be sold. When others see that you are a premium member, you will likely be trusted by more users too!
                Feel free to cancel at anytime!
                <br />
                <br />
                <h5><b>How do I buy a card?</b></h5>
                Click on any card being sold on the index, add to shopping cart. From your shopping cart you can then click on either Buy, or, Buy with Veriification.
                For normal purchases, you simply enter your password for confirmation, and then you may arrange the sale with the seller directly on your own terms.<br /><br />
                For Purchase with Verification, you pay an extra 10% of the price of that card in order to get us to check if that card is genuine or fake. We will then ship it to you if
                the card is genuine.
                <br /><br />
                <h5><b>Why can't I see any bids on an auction?</b></h5>
                We run one minute 'blind auctions' so that everyone will only bid an amount that they think the card is worth. Noone knows the winner of the auction until it is finished!
                <br /><br />
                <h5><b>What's the difference between a watchlist and a wishlist?</b></h5>
                A watchlist is a list of current card sales that you have selected to watch and will be notified of any changes to those sales.
                <br />
                A wishlist is just a list of cards that you would like to buy but is not currently available on the sales index. A user will be notified if
                a card on their wishlist becomes available for sale!
                <br /><br />
                <h5><b>What is my collection?</b></h5>
                My Collection is a list of cards that you own but do not have available for sale.
                <br /><br />
                <h5><b>How can I view just my own listings?</b></h5>
                You may do this by clicking on your profile and going to your listings. If you have more cards to be displayed, click on see all.
                <br /><br />
                <h5><b>How do I delete my account?</b></h5>
                Currently working on this.
            </p>
        </div>

        <p>
            We hope you enjoy our site and feel free to contact us anytime on our contact page!
        </p>
    </div>
</div>