

@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="base">

    <div id="WhyUs-div">
        <h2 id="why-us-title">Frequently asked questions</h2>

        <div>
            <p>
                <br />
                <b>How do I create an account?</b>
                <br /><br />
                Click the Sign Up button at the top right corner and fill in your details!
                <br />
                <br />
                <b>How do I create a sale?</b>
                <br /><br />
                Click the 'Sell' button at the top right next to the Search bar.<br /> <br />Then you can type a name into the Card Name search box. You can search for the card
                with any key words in your card's name. Once you have found the card you want, click on it, then click search. This will show a message telling you to
                select a card from the list, as one card can have different sets. Select the one that matches the card you want to sell by licking the search box.
                <br />
                Once you have selected the exact card you want, there should be green tick symbol in the far right side of the search box. Now you set the price of your card,
                choose your card's condition, grade, or check if you want it to be auctioned instead. Then you may create the new sale to be put up on the index!
                <br />
                Note: Premium Users Sales will have priority!
                <br />
                <br />
                <b>How do I create an account?</b>
                <br /><br />
                Click the Sign Up button at the top right corner and fill in your details!
                <br />
                <br />
            </p>
        </div>

        <p>
            We hope you enjoy our site and feel free to contact us anytime on our contact page!
        </p>
    </div>
</div>