
@{
    ViewBag.Title = "WhyUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="base">

    <div id="WhyUs-div">
        <h2 id="why-us-title">Why Shop With Us?</h2>

        <div>
            <p>
                <b>We are the best New Zealand online card trading platform available!</b>
                <br />
                Being a local online store, not only are our prices much cheaper than buying from overseas,
                we are much faster at delivering. <b>Also, we are 100% free to use!</b>
                <br /><br />
                Any purchase on our site is free, however, we have a completely optional verification service where you may purchase any card for a small
                percentage of the total price of the card. This way, you can be sure that our 2B staff can check
                if a card you are purchasing is genuine or fake before making the commitment. This can be very important when
                buying expensive or rare cards for a collection.
                <br />
                <br />
                Here is an actual example card value directly from TradeMe of how our pricing is much better!
                <br />
                <br />
            </p>
        </div>

        <div class="row" id="comparison">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="comparison-detail">
                2B Direct without verification<br />
                $1.96 Card<br />
                + $2 shipping<br />
                = $3.96<br />
                <br />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="comparison-detail">
                2B Direct without verification<br />
                $100 Card<br />
                + $2 shipping<br />
                = $102<br />
                <br />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="comparison-detail">
                2B with verification<br />
                $1.96 Card<br />
                + 10% of Card($0.20)<br />
                + $4 shipping<br />
                = $6.16<br />
                <br />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="comparison-detail">
                2B with verification<br />
                $100 Card<br />
                + 10% of Card($10.00)<br />
                + $4 shipping<br />
                = $114<br />
                <br />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="comparison-detail">
                TradeMe Direct from U.S(No verification)<br />
                $1.96 Card<br />
                + $7.52 shipping<br />
                = $9.48<br />
                <br />
                <br />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="comparison-detail">
                TradeMe Direct from U.S(No verification)<br />
                $100 Card<br />
                + $7.52 shipping<br />
                = $107.52<br /><br />
            </div>
        </div>

        <p>
            We hope you enjoy our site and feel free to contact us anytime on our contact page!
        </p>
    </div>
</div>