@model TeamTwoBe.ViewModels.Money
@{
    ViewBag.Title = "purchaseVerifiedCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </head>

<div id="base">
    <h2 style="text-align:center; margin-top:8%; margin-bottom:2%;">Purchase a Verified Card!</h2>
    <div id="purchase-div">
        <form action="/Profile/purchaseVerifiedCard/" method="POST">
            <article>
                <label id="SideMarginAuto">Card: @Model.MySale.Card.name</label>
                <br />
                <label id="SideMarginAuto">Amount: @Model.MySale.Price.ToString("c2")</label>
            </article>
            <script src="//checkout.stripe.com/v3/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_it8IfmJsPFnu7cXmNXb8aSp300FSV94EfE"
                    data-locale="auto"
                    data-description="Card Purchase"
                    data-amount="@Model.MyMoney">
            </script>
        </form>
    </div>
</div>