@model TeamTwoBe.ViewModels.UserAndCardWishlistVM
@{
    ViewBag.Title = "WishlistIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.MyUser.Username's Wishlist View</h2>

@if(Model.MyUser.Wishlist.Count < 1)
{
<div>
    <P>You currently have no cards in your wishlist. Try searching for some using the search bar below!</P>
    <br />
    @using (Html.BeginForm("WishlistIndex", "Profile", FormMethod.Get))
    {
        <b>Search:</b>
        @Html.TextBox("search")<input type="submit" value="Search" />
    }

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyCard.name)
            </th>
        </tr>
        @foreach (var item in Model.MyCard.name)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
        }
    </table>
</div>
}
